@font-face {
			font-family: "Open Sans Regular";
			font-style:normal;
			font-weight: 400;
			src:local("OpenSans Regular"),
			url("../fonts/OpenSans-Regular.woff") format("woff");
	}
	@font-face {
				font-family: "PT Sans Regular";
				font-style:normal;
				font-weight: 400;
				src:local("PTSans Regular"),
				url("../fonts/PTSansRegular.woff") format("woff");
		}
