$min-width: 960px;
$transparent-black-menu: rgba(0,0,0,0.8);
$top-menu-bcg-col: #393737;
$top-menu-font-color: #ffffff;
$header-color: rgba(0,0,0,0.1);
$left-column-color: #7f7f7f;
$footer-color: #808080;
$footer-menu-text-color: #000000;
$tooltip-text-color:#ffffff;
$tooltip-bcg-color: rgba(0,0,0,0.9);
$tooltip-border-color:#ee0404;
$card-text-color: #000000;
$card-border-color: #000000;
$card-hover-border-color: #ee0f0f;
